<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>To Do List</title>
<!--    <link rel="stylesheet" href="css/styles.css">-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Today</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/list-style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Bodoni+Moda:wght@600&family=Nothing+You+Could+Do&display=swap" rel="stylesheet"></head>

  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
  <script type="text/javascript" src="script.js"></script>


  </head>
  <style>
    .clock{
      text-align:center;
    }
  </style>

  <body>
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="/today">Upenn To-Do List</a>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#expandme">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="expandme">
      <div class="navbar-nav">
        <a href="/today" class="nav-item nav-link">Today</a>
        <a href="/calendar" class="nav-item nav-link">Calendar</a>
        <a href="/essentials" class="nav-item nav-link">Essentials</a>
      </div>
<!--      <div class="usernameDiv">-->
<!--        <h4 style="font-size: 18px">Welcome! <%= nameOfUsr %></h4>-->
<!--      </div>-->
      <form class="form-inline ml-auto" action="/logout" method="get">
        <button onclick="" class="btn btn-outline-light my-2 my-sm-0" type="submit">Log Out</button>
      </form>
    </div>
  </nav>
    <header>




  <center><h2 id="linkweb"></h2></center>

  <script>
    function time1(){
      const today = new Date();
      const options = {
        hour: "numeric",
        minute: "numeric"
      }
      return day = today.toLocaleString("en-US", options);
    }
    setInterval("linkweb.innerHTML=time1();",10);
    // setInterval("linkweb.innerHTML=new Date().toLocaleString();",10);
  </script>
    </header>
  <!--  todolist-->
  <div class="box">
    <div id="heading"><span> <%=listTitle%> </span></div>
    <!--<h1> <%=listTitle%></h1>-->

    <!--<div class="">-->
    <% newListItems.forEach(function (item){ %>
    <form action="/delete" method="post">
      <div class="item">
        <input type="checkbox" name="checkbox" value = "<%=item.id%>" onchange="this.form.submit()">
        <p class="list" style="display:inline"> <%=item.todoData%> </p>
      </div>
      <input type="hidden" name="listName" value="<%= listTitle %>">
      <input type="hidden" name="nameOfUsr" value="<%= nameOfUsr %>">
    </form>

    <%}) %>

    <form class="" action="/today" method="post">
      <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
      <button class="add" type="submit" name="list" value="<%= listTitle %>">+</button>
    </form>
  </div>

  <!--
  <div>
    <a href="/logout"><button type="submit" name="logOut">Log out</button></a>
  </div>-->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
          integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
          crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
          integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
          crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
          integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
          crossorigin="anonymous"></script>
  <script src="../web.js"></script>
  
  </body>
</html>



